<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
   <title>Forbidden</title>
</head>
<body>
   <div id="error-page">
      <div class="content">
         <h2 class="header" data-text="403">
            403
         </h2>
         <h4 data-text="Opps! Page not found">
            No se encontró la página porque no tieens permisos
         </h4>
       
         <div class="btns">
            <a href="index.html">Ir Al Inicio</a>
         </div>
      </div>
   </div>
</body>
</html>