<form class="form" id="form1">
    <h1>Crear Servidor</h1>
    <p class="Nombre">
        <input name="Nombre" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Nombre" id="name" />
    </p>
    <p class="text">
        <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Descripcion"></textarea>
    </p>
    <div class="submit">
        <input type="submit" value="SUBMIT" id="button-blue"/>
        <div class="ease"></div>
    </div>
</form>





